[Unit]
Description=BLE MQTT LYWSD03MMC
After=network.target

[Service]
ExecStart=python3 /home/pi/python3/MiTemperature2/LYWSD03MMC.py -d E4:E1:E8:E9:AE:E7  -r -b 5 -c 1 -m 192.168.2.11 -del 120
WorkingDirectory=/home/pi/python3/MiTemperature2
StandardOutput=/home/pi/python3/MiTemperature2/log.log
StandardError=/home/pi/python3/MiTemperature2/error.log
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

